body {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
  border-radius: 0.25rem;
  background-color: #888;
  text-align: left;
  transition: 500ms;
  display: flex;
}
.card:hover {
  background-color: #777;
}
#preview {
  transition: 500ms;
}
#title {
  display: inline-block;
  width: calc(50% - 66px);
  max-width:300px;
}
#desc {
  width: 50%;
  max-width: 370px;
  resize: none;
}
#edit {
  color: #fff;
  background-color: #666;
  border-radius: 0.75rem;
  width: 25vw;
}
#edit div {
  display: flex;
  flex-direction: column;
}
textarea {
  resize: none;
}
@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
