body {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Cards */
.card {
  display: flex;
  width: 50%;
  margin: 10px auto 0px auto;
  padding: 5px;
  text-align: left;
  border-radius: 0.25rem;
  background-color: var(--bg-3);
  transition: 500ms;
  box-sizing: border-box;
}
.card:hover {
  background-color: var(--bg-2);
}
.card div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#preview {
  transition: 500ms;
}
#title {
  display: inline-block;
  width: calc(50% - 66px);
  max-width: 300px;
}
#desc {
  width: 50%;
  max-width: 370px;
  resize: none;
}
#edit {
  width: 25vw;
}
#edit div {
  display: flex;
  flex-direction: column;
}
textarea {
  resize: none;
}
.appear {
  animation-name: appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Order */
.order {
  display: flex;
  width: 50%;
  margin-inline: auto;
  box-sizing: border-box;
}
.order p {
  flex: 1;
  text-align: left;
}
.order div {
  display: flex;
  width: fit-content;
  background-color: var(--bg-3);
  padding: 2px 6px 2px 2px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 500ms;
}
.order div:hover {
  background-color: var(--bg-2);
}

/* Data menu */
.data-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 15px;
  border: 5px var(--bg-1) solid;
  border-left: none;
  border-bottom: none;
  border-radius: 0px 1rem 0px 0px;
  background-color: var(--bg-3);
}

/* Custom cehckbox */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: var(--text-1);
  border-radius: 0.25rem;
  transition: 500ms;
}
.card:hover input ~ .checkmark {
  background-color: var(--text-2);
}

/* Mobile devices */
@media (max-width: 700px) {
  #desc, .card, .order {
    width: 90%;
  }
  #title {
    width: calc(90% - 66px);
  }
}
