body {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Cards */
.card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
  border-radius: 0.25rem;
  background-color: var(--bg-light);
  text-align: left;
  transition: 500ms;
  display: flex;
}
.card:hover {
  background-color: var(--bg-dim);
}
#preview {
  transition: 500ms;
}
#title {
  display: inline-block;
  width: calc(50% - 66px);
  max-width: 300px;
}
#desc {
  width: 50%;
  max-width: 370px;
  resize: none;
}
#edit {
  width: 25vw;
}
#edit div {
  display: flex;
  flex-direction: column;
}
textarea {
  resize: none;
}
@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Data menu */
.data-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
  background-color: var(--bg-light);
  border-radius: 0 1rem 0 0;
}

/* Custom cehckbox */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: var(--text);
  border-radius: 0.25rem;
  transition: 500ms;
}
.card:hover input ~ .checkmark {
  background-color: var(--text-dim);
}
