body {
  height: 100vh;
  height: 100dvh;
  text-align: center;
}
textarea {
  resize: none;
}

/* Tasks */
.task {
  display: flex;
  width: 50%;
  margin: 10px auto 0px;
  padding: 5px;
  text-align: left;
  border-radius: 0.25rem;
  background-color: var(--bg-2);
  transition: 500ms;
  box-sizing: border-box;
}
.task:hover {
  background-color: var(--bg-3);
}
.task div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Menus */
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
}

.hsl-selector {
  height: 25px;
  border-radius: 2rem;
  background: linear-gradient(to left in hsl longer hue, hsl(0, 65%, 50%) 0%, hsl(365, 65%, 50%) 100%);
}
.hsl-selector-indicator {
  width: 25px;
  height: 25px;
  outline: 2px var(--text-1) solid;
  border: 5px hsl(0, 65%, 50%) solid;
  border-radius: 2rem;
  box-sizing: border-box;
  position: absolute;
  left: 10px;
}

.task-add > svg {
  display: inline-block;
  margin-bottom: -5px;
}
#title {
  display: inline-block;
  width: calc(50% - 66px);
  max-width: 300px;
}
#desc {
  width: 50%;
  max-width: 370px;
  resize: none;
}
#edit {
  width: 25vw;
}
#edit div {
  display: flex;
  flex-direction: column;
}
.appear {
  animation-name: appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Toolbar / Spaces */
#toolbar, #spaces {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 50%;
  margin: 2px auto;
  box-sizing: border-box;
}
#toolbar div, #toolbar button {
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--text-1);
  padding: 2px 6px 2px 2px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--bg-2);
  transition: 500ms;
}
#toolbar button:hover {
  background-color: var(--bg-3);
}
#toolbar button svg {
  fill: var(--text-1);
}
#toolbar span {
  flex: 1;
}
.total-tasks {
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms;
}
.open-tasks:hover + .total-tasks {
  pointer-events: auto;
  opacity: 1;
}

#spaces {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
#spaces button:has(svg) {
  padding: 0px;
  border: none;
}
#spaces button {
  border-radius: 0.2rem;
  border-color: hsl(var(--color), 65%, 50%);
}
#spaces button:hover {
  background-color: hsl(var(--color), 65%, 50%);
}

/* Data menu */
.data-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 15px;
  border: 5px var(--bg-1) solid;
  border-left: none;
  border-bottom: none;
  border-radius: 0px 1rem 0px 0px;
  background-color: var(--bg-3);
}

/* Custom cehckbox */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: var(--text-1);
  border-radius: 0.25rem;
  transition: 500ms;
}
.card:hover input ~ .checkmark {
  background-color: var(--text-2);
}

/* Mobile devices */
@media (max-width: 700px) {
  #desc, .card, #tool, #spaces {
    width: 90%;
  }
  #title {
    width: calc(90% - 66px);
  }
}